
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- Bootstrap
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
</head>
<div class="band">
  Bienvenue sur notre site internet!
</div>
<!-- <input type="file" (change)="encodeImageFileAsURL($event)" /> -->
<div class="divisionParent">

  <div class="divisionG">
    <p class="titreProjets">Mes projets</p>

    <ul *ngFor="let p of projects ; let i = index">
      <li>
        <div class="liList" (mouseenter)="showX($event)" (mouseleave)="hideX($event)">
          <button class="button1List">{{p[0]}}</button>
          <button hidden="true" class="button1ListE" (click)="exportP(p)"><i class="fas fa-dolly"></i></button>
          <button hidden="true" class="button1ListP" (click)="addDoc(p)"><i class="fas fa-plus"></i></button>
          <button hidden="true" class="button1ListX" (click)="deletePro(p)"><i class="fas fa-times"></i></button>
        </div>
      </li>
      <ul *ngFor="let d of p[2]" (mouseleave)="hideActions($event)">
        <li>
          <button class="buttonList" (mouseenter)="showXActions($event)" (click)="showActions($event)">{{d.name}}</button>
          <button hidden="true" class="button1ListE" (click)="exportD(d)"><i class="fas fa-dolly"></i></button>
          <button hidden="true" class="button1ListX" (click)="deleteDoc(d)"><i class="fas fa-times"></i></button>
        </li>
        <ul style="list-style-type: disc; color: #666666;" hidden="true">
          <li><button class="buttonList2"(click)="goToAnnotation(d, p)" >Annotation</button></li>
          <li><button class="buttonList2"(click)="goToValidation(d)" >Validation</button></li>
          <li><button class="buttonList2"(click)="goToGestionPages(p,d)">Gestion des pages</button></li>
        </ul>
      </ul>
    </ul>
  </div>

  <button mat-raised-button (click)="openDialog()" class="button2">
    <p class="titre">Créer un nouveau projet</p>
    <img class="images_petit" src="../../assets/images/greencross.png" alt="green cross" />
  </button>

</div>