
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- Bootstrap
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
</head>

<div class="band">
  <button class="button1" >YOU</button>
  <button class="button1" (click)="goToDecoupe()">ARE</button>
  <button class="button1" (click)="goToAnnotation(0)">WELCOME</button>
  <button class="button1" (click)="goToAnnotation(1)">IN</button>
  <button class="button1" (click)="goToValidation(0)">OUR</button>
  <button class="button1" (click)="goToValidation(1)">WEBSITE</button>
</div>

<div class="divisionParent">

  <div class="divisionG">
    <p class="titreProjets">Mes projets</p>

    <ul *ngFor="let p of projects ; let i = index">
      <li>
        <div class="liList" (mouseenter)="showX($event)" (mouseleave)="hideX($event)">
          <button class="button1List">{{p[0]}}</button>
          <button hidden="true" class="button1ListX" (click)="deletePro(p)"><i class="fas fa-times"></i></button>
          <button hidden="true" class="button1ListP" (click)="addDoc(p)"><i class="fas fa-plus"></i></button>
        </div>
      </li>
      <ul *ngFor="let d of p[2]" (mouseleave)="hideActions($event)">
        <li>
          <button class="buttonList" (click)="showActions($event)">{{d.name}}</button>
          <button hidden="true" class="buttonList2" (click)="deleteDoc(d)"><i class="fas fa-times"></i></button>
        </li>
        <ul style="list-style-type: disc; color: #666666;" hidden="true">
          <li><button class="buttonList2">Go To Decoupe</button></li>
          <li><button class="buttonList2">Go To Annotation</button></li>
          <li><button class="buttonList2"(click)="goToValidation(d.id)" >Go To Validation</button></li>
          <li><button class="buttonList2">Gestion des pages</button></li>
        </ul>
      </ul>
    </ul>
  </div>

  <button mat-raised-button (click)="openDialog()" class="button2">
    <p class="titre">Créer un nouveau projet</p>
    <img class="images_petit" src="../../assets/images/greencross.png" alt="green cross" />
  </button>

</div>