.headband{
    background-color: rgb(8, 25, 82);
    height: 25px;
}

.headband2{
    background-color: rgb(97, 124, 212);
    height: 55px;
    margin-bottom: 5px;
}

.boutonHaut{
    float: right;
    background: none;
    height: 25px;
    width: 100;
    color: white;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(53, 62, 92);
}

.boutonChoix{
    position: relative;
    width: 50%;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(102, 130, 221);
    background : none;
    height : 55px;
    color: white;
}

.boutonChoix:hover{
    background : rgb(102, 127, 206);
}

.title {
    text-align: center;
    color:  rgb(122, 145, 221);
    border: 1px solid rgb(163, 182, 243);
    margin: 2px;
    margin-right: 0px;
    margin-left: 0px;
    padding : 10px;
}

.bodyStyle{
    border: 1px solid rgb(185, 199, 248);
    padding: 5px;
}

.divArticle{
    position: relative;
    border: 1px solid chocolate;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: auto;
}

.divPara{
    position: relative;
    border-color: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;

}

.smallImage{
    position: relative;
    width: 38%;
}

.faceImage{
    position: relative;
    width: 50px;
}

p{
    color: #4e4e4e
}