.divTitre {
    background-color:#DDD6ea;
    color: #48327f;
    text-align: center;
    border: 1px solid #5E4B8C;

    margin-bottom: 5px;
    margin-top: 10px;
}

.agnosco {
    position: relative;
    width:auto;
    height: 70px;
}