<div>
    <h1>Gestion des pages du document '{{data.pname}}/{{data.d.name}}'</h1>
</div>
  
<br>
  
<div style="font-size: 80%">
  <p><b>Pour chaque page, suivre la disposition suivante :</b> a) fichier image b) fichier vérité terrain</p>
  <br>
  <div *ngFor="let p of oldpages ; let i = index">
    <span><b>page {{i+1}} : </b></span>
    <span>a) {{oldpages[i].nameIm}}</span>
    <span>b) {{oldpages[i].nameIm}}</span><button (click)="deletePage(i)" class="button1ListX ">x</button>
    <br><br>
  </div>

  <div *ngFor="let p of pages ; let i = index">
    <span><b>page {{i + oldpages.length +1}} : </b></span>
    <span>a)</span>
    <input type="file" (change)="encodeImageFile([$event,i])"/>
    <span>b)</span>
    <input type="file" (change)="encodeDataFile([$event,i])"/><button (click)="deletePage(i)" class="button1ListX ">x</button>
    <br><br>
  </div>

  <br>
  <button class="plusB" (click)="plusPage()">+ 1 page </button>
</div>

<div mat-dialog-actions>
  <button class="buttonA" (click)="onNoClick()" mat-button>Annuler</button>
  <button class="buttonV" mat-button (click)="onValidation()">Valider</button>
</div>