
<div class="band">
  <button class="button1" >YOU</button>
  <button class="button1" (click)="goToDecoupe()">ARE</button>
  <button class="button1" (click)="goToAnnotation(0)">WELCOME</button>
  <button class="button1" (click)="goToAnnotation(1)">IN</button>
  <button class="button1" (click)="goToValidation(0)">OUR</button>
  <button class="button1" (click)="goToValidation(1)">WEBSITE</button>
</div>

<div class="divisionParent">

  <div class="divisionG">
    <ul>
      <li>Projet 1</li>
      <ul>
        <li>Document 1.1</li>
        <li>Document 1.2</li>
        <li>Document 1.3</li>
      </ul> 
      <br>
      <li>Projet2</li>
      <ul>
        <li>Document 2.1</li>
        <li>Document 2.2</li>
      </ul> 
      <br>
      <li>Projet3</li>
      <ul>
        <li>Document 3.1</li>
        <li>Document 3.2</li>
        <li>Document 3.3</li>
        <li>Document 3.4</li>
        <li>Document 3.5</li>
      </ul>
    </ul> 
  </div>

  <button class="button2">
    <p class="titre">Créer un nouveau projet</p>
    <img class="images_petit" src="../../assets/images/greencross.png" alt="green cross" />
  </button>

</div>