:root{
    --left-window-width: 70vw;
    --right-window-width: 22%;
}

.divisionParent{
    height: 85vh;
    width: 99vw;
    overflow: auto;
    padding: 0px;
}

.band {
    background-color:#110f3d;
    color: #48327F;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}

/* 3 divisions principales */

.leftWindow{
    position: relative;
    left: 0%;
    width: 75.5%;
    float: left;
    padding: 0px;
}

.rightWindow{
    position: relative;
    margin-left: 0.3%;
    float: left;
    width: 24%;
    padding: 0px;
    border: none
}

.changePage {
    border: none;
    position: relative;
    float: left;
    width: inherit;
}

/* RIGHT WINDOW : full document & navigation*/

/* full document */

.fullDocument{
    background: rgb(83, 70, 116);
    border: double rgb(218, 213, 230);
    border-width : 6px;
    padding: 5px;
    top: 2px;
    width: 22% - 6px;
    height: 40%;
    margin-bottom: 3px;
}

.image_doc{
    display: block;
    position: relative;
    max-width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* navigation */

.navigation{
    background: rgb(219, 207, 247);
    border: 2px solid rgb(141, 129, 170);
    width: 99%;
    min-height: 45vh;
    color: rgb(81, 81, 83);
    margin-bottom: 8px;
}

.navBandTranscription{
    font-weight: bold;
    border: none;
    height: 100%;
    float: right;
    background: #110f3d;
    color: rgb(236, 233, 243);
    padding: 0%;
}

.navBand{
    border: none;
    height: 100%;
    float: right;
    background: #110f3d;
    color: rgb(153, 143, 177);
    padding: 0%;
}

.navBand:hover {
    color: rgb(236, 233, 243);
}

.navTitle{
    background: rgb(219, 207, 247);
    padding: 5px;
    border-bottom: 2px solid rgb(141, 129, 170);
    height: 15%;
    width : 80%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

/* boutons */

.homeButton{
    border-left: 1px solid rgb(225, 220, 238);
    border-right: 1px solid rgb(225, 220, 238);
    border-top: none;
    border-bottom: none;
    color: rgb(236, 233, 243);
    height: 100%;
    margin-left: 1px;
    margin-right: 1px;
    background: none;
    position: relative;
    float: left;
}

.homeButton:hover {
    background: rgba(255, 255, 255, 0.055);
}

.helpButton{
    border-left: 1px solid rgb(225, 220, 238);
    border-right: 1px solid rgb(225, 220, 238);
    border-top: none;
    border-bottom: none;
    color: rgb(236, 233, 243);
    height: 100%;
    margin-left: 1px;
    margin-right: 1px;
    background: none;
    position: relative;
    float: right;
}

.helpButton:hover {
    background: rgba(255, 255, 255, 0.055);
}

.buttonList {
    background: none;
    border: none;
    color: rgb(124, 102, 180);
    font-size: 20px;
}

.buttonList:hover {
    color: rgb(79, 56, 138);

}

.buttonList2 {
    background: none;
    border: none;
    color: #666666;
    font-size: 15px;
}

.buttonList2:hover {
    color: #333333;
}

.buttonDiv {
    position: relative;
    float: right;
}

.hideButton {
    border: none;
    position: relative;
    float: right;
    margin-right: 5px;
    background: none;
    font-size: 3ch;
}

/* imagettes */

.blocImagettePlusTrans {
    height: 95%;
    width: 95%;
    border: none;
    padding: none;
    margin: 5px;
    margin-left: 8px;
    position: relative;
    float: left;
}

.blocImagettePlusTransHidden {
    height: 95%;
    width: 95%;
    border: none;
    padding: none;
    margin: 5px;
    margin-left: 8px;
    position: relative;
    float: left;
    color: rgb(180, 179, 182);
    opacity: 0.5;
}

.imagette {
    height: 50%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 2px;
    border: solid 1px rgb(166, 164, 170);
    background: rgb(240, 238, 245);
}

.imageAffiche {
    height: 90%;
    width: 60%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 20%;
}

/* autres ? */

.annotationWindow {
    width: 90%;
    min-height: 50vh;
    padding: 5px;
    border: none;
    position: relative;
    margin-left: 2%;
}

.affichage {
    border: none;
    /*border: solid 2px rgb(218, 213, 230);*/
    width: 100%;
    height: 16vh;
    margin-bottom: 10px;
}

.transcription {
    min-height: 45%;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    border: solid 1px rgb(166, 164, 170);
    background: rgba(245, 245, 248, 0.623);
    text-align: center;
}

.examplesList {
    list-style-type: none;
}

.previousPage {
    border: none;
    float: left;
    margin-left: 10%;
    background: none;
}

.nextPage {
    border: none;
    float: right;
    margin-right: 10%;
    background: none;
}

.pageNumbers {
    border: none;
    display: inline;
    position: relative;
    margin-left: 5px;
    font-size: 2ch;
}

.currentPage {
    border: none;
    border-bottom: solid 1px #48327F;
    color: #110f3d;
    font-style: normal;
    font-weight: bold;
    background: none;
}

.notCurrentPage {
    border: none;
    color: #110f3d;
    font-style: normal;
    background: none;
}

h2{
    margin-top: 5px;
    margin-bottom: 1px;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
    color: rgb(219, 210, 241);
}