:root{
    --left-window-width: 70vw;
    --right-window-width: 22%;
}

.divisionParent{
    height: 85vh;
    width: 99vw;
    overflow: auto;
    padding: 0px;
}

.leftWindow{
    position: relative;
    left: 0%;
    width: 75%;
    height: 98%;
    float: left;
    padding: 0px;
}

.band {
    background-color:#110f3d;
    color: #48327F;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}

.homeButton{
    border-left: 1px solid rgb(225, 220, 238);
    border-right: 1px solid rgb(225, 220, 238);
    border-top: none;
    border-bottom: none;
    color: rgb(236, 233, 243);
    height: 100%;
    margin-left: 1px;
    margin-right: 1px;
    background: rgba(255, 255, 255, 0.205)
}

.homeButton:hover {
    background: rgba(255, 255, 255, 0.055);
}

.navBandTranscription{
    font-weight: bold;
    border: none;
    height: 100%;
    float: right;
    background: #110f3d;
    color: rgb(236, 233, 243);
    padding: 0%;
}

.navBand{
    border: none;
    height: 100%;
    float: right;
    background: #110f3d;
    color: rgb(153, 143, 177);
    padding: 0%;
}

.navBand:hover {
    color: rgb(236, 233, 243);
}

.rightWindow{
    position: relative;
    float: right;
    height: 100%;
    width: 24%;
    padding: 0px;
    border: none
}

.fullDocument{
    background: rgb(83, 70, 116);
    border: double rgb(218, 213, 230);
    border-width : 6px;
    padding: 5px;
    top: 2px;
    width: 22% - 6px;
    height: 40%;
}

.image_doc{
    display: block;
    position: relative;
    max-height: 75%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.navigation{
    background: rgb(219, 207, 247);
    border: 2px solid rgb(141, 129, 170);
    width: 99%;
    height: 40vh;
    color: rgb(81, 81, 83);
}

.navTitle{
    background: rgb(219, 207, 247);
    padding: 5px;
    border-bottom: 2px solid rgb(141, 129, 170);
    height: 15%;
    width : 80%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

h2{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
    color: rgb(219, 210, 241);
}


.annotationWindow {
    width: 70%;
    min-height: 50vh;
    padding: 5px;
    border: none;
    position: relative;
    margin-left: 15%;
}

.affichage {
    border: solid 2px rgb(218, 213, 230);
    width: 100%;
    height: 16vh;
    margin-bottom: 10px;
}

.blocImagettePlusTrans {
    height: 95%;
    width: 95%;
    border: none;
    padding: none;
    margin: 5px;
    margin-left: 8px;
    position: relative;
    float: left;
}

.imagette {
    height: 50%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 2px;
    border: solid 1px rgb(166, 164, 170);
    background: rgb(240, 238, 245);
}

.imageAffiche {
    height: 90%;
    width: 60%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 20%;
    display: block;
    position: relative;
}

.transcription {
    height: 45%;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    border: solid 1px rgb(166, 164, 170);
    background: rgb(232, 227, 245);
    text-align: center;
}

.buttonDiv {
    position: relative;
    float: right;
}

.hideButton {
    border: solid 2px rgb(72, 141, 3); /* à enlever quand y a internet */
    position: relative;
    float: right;
    margin-right: 5px;
    background: none;
    min-height: 15px;
}

.examplesList {
    list-style-type: none;
}

.previousPage {
    border: none;
    float: left;
    margin-left: 10%;
}

.nextPage {
    border: none;
    float: right;
    margin-right: 10%;
}

.pageNumbers {
    border: none;
    display: inline;
    position: relative;
    margin-left: 5px;
    font-size: 2ch;
}

.currentPage {
    border: none;
    border-bottom: solid 1px #48327F;
    color: #110f3d;
    font-style: normal;
    font-weight: bold;
    background: none;
}

.notCurrentPage {
    border: none;
    color: #110f3d;
    font-style: normal;
    background: none;
}