<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- Bootstrap
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
</head>

<div class = "divisionParent">
  <div class = "leftWindow">
    <div class="band">  
          <button class = "homeButton" (click)="goHome()"><i class="fas fa-home"></i></button>
          
          <button class = "navBand" style="padding-left: 5px; margin-right: 5px;" (click)="goToValidation(params[0])">validation</button>
          <button class = "navBandTranscription">/ transcription manuscrite /</button>
          <button class = "navBand" style="padding-right: 5px;" (click)="goToDecoupe()">édition des zones de découpe</button>
    </div>

    <div class="annotationWindow">
      <p>
        Annotation works!
      </p>
      <p>{{params[0]}}</p>
    </div>

  </div>

  <div class="rightWindow">
    <div class="fullDocument">
      <h2>Document 1.0</h2>
      <img class="image_doc" src="../../assets/images/Elephant.jpg" alt="page" />
    </div>
    <div class="navigation">
      <div class="navTitle">
        <h2 style="color: rgb(45, 45, 46)">Documents du même projet</h2>
      </div>
    </div>
  </div>

</div>
<!-- Bootstrap
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>-->
