<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<div class = "divisionParent">
  <div class="band">  
    <button class = "homeButton" (click)="goHome()"><i class="fas fa-home"></i></button>
    
    <button class = "textBand">Validation des transcriptions : {{docName}}</button>

    <button class="bandButton" (click)="getHelp()"><i class="fas fa-question-circle"></i></button>

    <button class = "bandButton" (click)="leave()"><i class="fas fa-check"></i></button>
  </div>

  <div class="validationWindow">

    <div [hidden]="isPrepared()">
      <p>Manuscrit en cours de découpe...</p>
    </div>

    <div class="centerWindow">

      <div class="boutonGroupe">
        <p> </p>
        <button [hidden]="isBegining()" style="border: none; background: none;top:30vh;position: relative;" (click)="getPrevious4()"><i class="fas fa-chevron-left" style="color: green;font-size: 3ch;"></i></button>
      </div>

      <div class="divList">
        <ul class="examplesList">
            <li *ngFor="let p of ex4 ; let i = index" class= "affichage">
              <div [class]= "isEnabled(i) ? 'blocImagettePlusTrans' : 'blocImagettePlusTransHidden'">
                <div class = "imagette">
                  <img class="imageAffiche" [src]=p[1] alt="page" />
                  <button class = "hideButton" (click)="disableEx(i)" data-imgid=i>
                    <i [class]="isEnabled(i) ? 'fas fa-times' : 'fas fa-angle-double-up'"></i>
                  </button>
                </div>
                <div class= "transcription">
                    <p style="display: inline-block;">{{p[2]}}</p>  
                  <div class="boutonVert">  
                    <div [hidden]="isValidated(i) ? false : true">
                      <p class="fas fa-check-circle" style="color:green;font-size: 1.5ch;"></p>
                    </div>
                  </div>   
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="boutonGroupe">
          <p> </p>
          <button [hidden]="isEnd()" style="border: none;background: none;top:30vh;position: relative;" (click)="getNext4()"><i class="fas fa-chevron-right" style="color: green;font-size: 3ch;"></i></button>
        </div>

    </div>

    
  </div>

</div>

<div>
  <button id = "previousPage" class="previousPage"[disabled]="isFirstPage" (click)="previousPage()">
      <i class="fas fa-chevron-left"></i>
  </button>
  
  <button class="pageNumbers" *ngFor="let p of pages">
      <i [class]="isCurrentPage(p) ? 'currentPage' : 'notCurrentPage'">{{pages.indexOf(p) + 1}}</i>
  </button>

  <button id = "nextPage" class="nextPage" [disabled]="isLastPage" (click)="nextPage()">
      <i class="fas fa-chevron-right"></i>
  </button>
</div>