<div mat-dialog-content>
  <span style="font-size: 130%;font-weight: bold;">Comment souhaitez-vous nommer le projet?</span><input [(ngModel)]="popo" matInput placeholder="Nom du projet" (keyup.enter)="onValidation()" cdkFocusInitial>
</div>

<br>

<div>
  <span>Quel reconnaisseur souhaitez-vous utiliser?</span>
  <select [(ngModel)]="select" class="selectOutils #selection">
    <option  *ngFor="let r of reconnaisseurs">{{r}}</option>
  </select>
</div>

<br>

<div>
  <p>Documents</p>
  <input type="file" (change)="encodeImageFile($event)"/>
  <br>
  <button class="plusB">+</button>
</div>

<div mat-dialog-actions>
  <button class="buttonA" (click)="onNoClick()" mat-button>Annuler</button>
  <button class="buttonV" mat-button (click)="onValidation()">Valider</button>
</div>
