.buttonA {
    background: none;
    border: 1px solid #f8b2a1;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    color: #fd8c70;
}

.buttonA:hover {
    border: 1px solid #ff9b83;
    color: #f87656;
}

.buttonV {
    background: none;
    border: 1px solid #9ada69;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    color: #6dac3e;
}

.buttonV:hover {
    border: 1px solid #7ecc43;
    color: #459707;
}

.moinsB {
    font-weight: bold;
    font-size: 130%;
    background: none;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffac97;
}

.moinsB:hover {
    color: #f87656;
}

.plusB {
    font-weight: bold;
    font-size: 130%;
    background: none;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    color: #92d361;
}

.plusB:hover {
    color: #459707;
}

p{
    margin-top: 0px;
    margin-right: 5px;
    color: #48327f;
}

span{
    margin-top: 0px;
    margin-right: 5px;
    color: #48327f;
}