
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<div class="band">
  <button class="button1" (click)="goHome()"><i class="fas fa-home"></i></button>
  <button style="float: right; margin-right: 1%;" class="button1">Goto Transcription manuscrite</button>
  <button style="float: right; margin-right: 1%" class="button1">Exporter vers le reconnaisseur</button>
  
</div>

<div class="DivParent">
  <div class="background">
    <img class="image_fond" src="../../assets/images/Fraise.png" alt="page" />
  </div>
  <div class="outils">
    <div class ="titreO">Outils</div>

    <button class="buttonOutil"><span class="nameOutil">nouvelle selection </span><img class="icone" src="../../assets/images/Fraise.png" alt="page" /></button>
    
    <button class="buttonOutil"><span class="nameOutil">dépacer </span><img class="icone" src="../../assets/images/Fraise.png" alt="page" /></button>
    
    <button class="buttonOutil"><span class="nameOutil">zoomer </span><img class="icone" src="../../assets/images/Fraise.png" alt="page" /></button>
    
    <button class="buttonOutil"><span class="nameOutil">undo/redo </span><img class="icone" src="../../assets/images/Fraise.png" alt="page" /></button>
    
    <button class="buttonOutil"><span class="nameOutil">réinitialiser </span><img class="icone" src="../../assets/images/Fraise.png" alt="page" /></button>
    
    <button class="buttonOutil"><span class="nameOutil">premier jet </span><img class="icone" src="../../assets/images/Fraise.png" alt="page" /></button>
  </div>
</div>